main{
    display: grid;
    gap: 10px;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,50px);
    grid-template-areas: 
        "header header"
        "txt txt2"
        "txt txt2"
}
section:first-of-type{
    background-color: blue;
    color:white;
    grid-area: txt;
}
section:last-of-type{
    background-color: blueviolet;
    color: white;
    grid-area: txt2;
}
header{
    grid-area: header;
}